<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">iKea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/}">link1<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Link2</a>
            </li>
        </ul>

    </div>
</nav>
<body>
<hr class="my-4"/>
<h4>Fill the info for the new course</h4>
<p class="lead">
<form action="#" th:action="@{/course/saveandget}" th:object="${course}" method="post">
    <input class="form-control" type="text" id="danishName" name="danishName" placeholder="d name" value="Danish Name" required="true"/> <br/>
    <input class="form-control" type="text" id="englishName" name="englishName" placeholder="e name" value="English Name" required="true"/> <br/>
    <fieldset>
        <input type="checkbox" name="studyProgramme" value="Computer Science"/>Computer Science<br/>
        <input type="checkbox" name="studyProgramme" value="Web Development"/>Web Development<br/>
        <input type="checkbox" name="studyProgramme" value="Software development"/>Software development<br/>
        <input type="checkbox" name="studyProgramme" value="IT-Security"/>IT-Security<br/>
    </fieldset>
    <input class="form-control" type="number" id="ects" name="ects" placeholder="ects" value="10" required="true"/> <br/>
    <fieldset>
        <legend>Mandatory?</legend>
        <input type="radio" name="mandatory" id="ismandatory" value="Mandatory" /><label for="ismandatory">Yes</label><br />
        <input type="radio" name="mandatory" id="notmandatory" value="Not Mandatory" /><label for="notmandatory">No</label><br />
    </fieldset>
    <!--<input class="form-control" type="text" id="mandatory" name="mandatory" placeholder="isMandatory" value="Not mandatory" required="true"/> <br/>-->
    <fieldset>
        <legend>Course Language</legend>
        <input type="radio" name="courseLanguage" id="englishLanguage" value="English language" /><label for="englishLanguage">English language</label><br />
        <input type="radio" name="courseLanguage" id="danishLanguage" value="Danish language" /><label for="danishLanguage">Danish language</label><br />
    </fieldset>
    <input class="form-control" type="number" id="minStudents" name="minStudents" placeholder="minimum students" value="25" required="true"/> <br/>
    <input class="form-control" type="number" id="expStudents" name="expStudents" placeholder="expected students" value="30" required="true"/> <br/>
    <input class="form-control" type="number" id="maxStudents" name="maxStudents" placeholder="maximum students" value="35" required="true"/> <br/>
    <input class="form-control" type="text" id="prerequisites" name="prerequisites" placeholder="prerequisites" value="prerequisites" required="true"/> <br/>
    <input class="form-control" type="text" id="outcome" name="outcome" placeholder="outcome" value="learning outcome" required="true"/> <br/>
    <input class="form-control" type="text" id="content" name="content" placeholder="content" value="course content" required="true"/> <br/>
    <input class="form-control" type="text" id="examForm" name="examForm" placeholder="examForm" value="examForm" required="true"/> <br/>
    <!--<input class="form-control" type="text" id="teachers" name="teachers" placeholder="course teachers" value="Alex" required="true"/> <br/>-->
    <button type="submit" class="btn btn-dark">Save course</button>
</form>
</p>
</body>
</html>