<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Course Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">iKea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#" th:href="@{/courses/add}">Add course <span class="sr-only">(current)</span></a>-->
            <!--</li>-->

        </ul>

    </div>
    <li class="nav-item">
        <a href="#" th:href="@{/login?logout}" class="btn btn-warning">LOGOUT</a>
    </li>

</nav>
<body>
<p th:text="${course.englishName}"></p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Request Time</td>
        <td>Actions</td>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${course.courseRequests == null || course.courseRequests.empty}">
        <td colspan="7">No requests!</td>
    </tr>
    <tr
            th:each="request : ${course.courseRequests}" >

        <td th:text="${request?.student.firstName}">FirstName</td>
        <td th:text="${request?.student.lastName}">LastName</td>
        <td th:text="${request?.timestamp}">timestamp</td>
        <td><a href="view.html" class="btn btn-success" th:href="@{'/admin/approve?courseId=' + ${course.id} + '&amp;courseRequestId=' +  ${request.id}}" th:text="APPROVE">Approve ...</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>