<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Course Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">iKea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#" th:href="@{/courses/add}">Add course <span class="sr-only">(current)</span></a>-->
            <!--</li>-->

        </ul>

    </div>
</nav>
<body>

<div class="jumbotron">
    <h4 th:text="${course.englishName}"></h4>
    <p class="lead">
    </p>
    <hr class="my-4"/>

    <p class="lead"></p>

    <table class="table table-bordered table-striped">
        <col width="230"/>
        <tr>
            <td>DanishName</td>
            <td th:text="${course.danishName}">Danish Name ...</td>
        </tr>
        <tr>
            <td>EnglishName</td>
            <td th:text="${course.englishName}">English Name ...</td>
        </tr>
        <tr>
        <td>Study Programme</td>
        <td th:text="${course.studyProgramme}">Study Programme ...</td>
        </tr>
        <tr>
        <td>ECTS</td>
        <td th:text="${course.ects}">ECTS ...</td>
        </tr>
        <tr>
            <td>Mandatory?</td>
            <td th:text="${course.mandatory}">Mandatory? ...</td>
        </tr>
        <tr>
        <td>Language</td>
        <td th:text="${course.courseLanguage}">Language ...</td>
        </tr>
        <tr>
            <td>Minimum Students</td>
            <td th:text="${course.minStudents}">Minimum Students ...</td>
        </tr>
        <tr>
            <td>Expected Students</td>
            <td th:text="${course.expStudents}">Expected Students ...</td>
        </tr>
        <tr>
            <td>Maximum Students</td>
            <td th:text="${course.maxStudents}">Maximum Students ...</td>
        </tr>
        <tr>
            <td>Prerequisites</td>
            <td th:text="${course.prerequisites}">Prerequisites ...</td>
        </tr>
        <tr>
            <td>Outcome</td>
            <td th:text="${course.outcome}">Outcome ...</td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="${course.content}">Content ...</td>
        </tr>
        <tr>
            <td>Learning Activities</td>
            <td th:text="${course.learningActivities}">Learning Activities ...</td>
        </tr>
        <tr>
            <td>Exam Form</td>
            <td th:text="${course.examForm}">Exam Form ...</td>
        </tr>

    </table>
    <!--<input type="button" class="btn btn-dark" value="Go Back" onclick="window.location.href='/student/showcourses'" />-->
    <a href="/student/showcourses" class="btn btn-warning">Go Back</a>
    <a href="/" class="btn btn-success">Apply Now</a>
</div>
</body>
</html>