<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">iKea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" th:href="@{/login?logout}" class="btn btn-warning">LOGOUT</a>
            </li>

        </ul>

    </div>
</nav>
<body>
<div class="container">
    <hr class="my-4"/>
    <p>Edit course page</p>
    <p th:text="${course.englishName}"></p>
    <p class="lead">
    <form action="#" th:action="@{/course/saveandget}" th:object="${course}" method="post">
        <input type="hidden" id="id" name="id" placeholder="id" th:value="${course.id}"/> <br/>
        <legend>Danish Course name</legend>
        <input class="form-control" type="text" id="danishName" name="danishName" placeholder="d name"
               th:value="${course.danishName}" required="true"/> <br/>
        <legend>English Course name</legend>
        <input class="form-control" type="text" id="englishName" name="englishName" placeholder="e name"
               th:value="${course.englishName}" required="true"/> <br/>

        <fieldset>
            <legend>Study Programme</legend>
            <input type="checkbox" name="studyProgramme" value="Computer Science"/>Computer Science<br/>
            <input type="checkbox" name="studyProgramme" value="Web Development"/>Web Development<br/>
            <input type="checkbox" name="studyProgramme" value="Software development"/>Software development<br/>
            <input type="checkbox" name="studyProgramme" value="IT-Security"/>IT-Security<br/><br/>
        </fieldset>
        <input class="form-control" type="number" id="ects" name="ects" placeholder="ects" th:value="${course.ects}"
               required="true"/> <br/>
        <fieldset>
            <legend>Mandatory or Elective?</legend>
            <input type="radio" name="mandatory" id="ismandatory" value="true" th:checked="${course.mandatory}"/><label
                for="ismandatory">Mandatory</label><br/>
            <input type="radio" name="mandatory" id="elective" value="false" th:checked="!${course.mandatory}"/><label
                for="elective">Elective</label><br/>
        </fieldset>
        <legend>Course Language</legend>
    <input type="radio" name="courseLanguage" id="englishLanguage" value="englishLanguage" th:checked="${course.courseLanguage}"/><label
        for="englishLanguage">English Language</label><br/>
    <input type="radio" name="courseLanguage" id="danishLanguage" value="danishLanguage" th:checked="!${course.courseLanguage}"/><label
        for="danishLanguage">Danish Language</label><br/>

    <legend>Minimum amount of students</legend>
        <input class="form-control" type="number" id="minStudents" name="minStudents" placeholder="minimum students"
               th:value="${course.minStudents}" required="true"/> <br/>
        <legend>Expected amount of students</legend>
        <input class="form-control" type="number" id="expStudents" name="expStudents" placeholder="expected students"
               th:value="${course.expStudents}" required="true"/> <br/>
        <legend>Maximum amount of students</legend>
        <input class="form-control" type="number" id="maxStudents" name="maxStudents" placeholder="maximum students"
               th:value="${course.maxStudents}" required="true"/> <br/>
        <legend>Prerequisites</legend>
        <input class="form-control" type="text" id="prerequisites" name="prerequisites" placeholder="prerequisites"
               th:value="${course.prerequisites}" required="true"/> <br/>
        <legend>Outcome</legend>
        <input class="form-control" type="text" id="outcome" name="outcome" placeholder="outcome"
               th:value="${course.outcome}" required="true"/> <br/>
        <legend>Outcome</legend>
        <input class="form-control" type="text" id="content" name="content" placeholder="content"
               th:value="${course.content}" required="true"/> <br/>
        <legend>Exam From</legend>
        <input class="form-control" type="text" id="examForm" name="examForm" placeholder="examForm"
               th:value="${course.examForm}" required="true"/> <br/>
        <div class="custom-controls-stacked">
            <legend>Course Teachers</legend>
            <label class="custom-control custom-checkbox" th:unless="!teachersList.empty"
                   th:each="teacher : ${teachersList}">
                <input type="checkbox" class="custom-control-input" th:id="'teacher'+${teacher.id}" name="teachers"
                       th:value="${teacher.id}"/>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" th:text="${teacher.firstName + ' ' + teacher.lastName}"></span>
            </label>
        </div>

        <button type="submit" class="btn btn-dark">Save course</button>
    </form>
    </p>
</div>
</body>
</html>